<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Math Quiz App</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div id="quiz-container">
    <h1>Problemas Matemáticos</h1>
    <div id="problem-container">
        <p id="question"></p>
        <div id="options"></div>
        <p id="result-msg"></p>
      </div>
      <button id="next-btn">Siguiente</button>
      <div id="result"></div>

      <button id="clear-history-btn">Borrar Historial</button>

  </div>

  <script src="/js/main.js"></script>
</body>
</html>
